In [2]:

import pandas as pd
import os

In [10]:
files = [file for file in os.listdir('./videos_data')]
all_videos_data = pd.DataFrame()

for file in files:
   df = pd.read_csv("./videos_data/" + file)
   all_videos_data = pd.concat([all_videos_data, df])

all_videos_data.to_csv("all_videos_data.csv",index = False)

In [26]:
all_videos_data = pd.read_csv("all_videos_data.csv")
all_videos_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280113 entries, 0 to 280112
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          280113 non-null  object
 1   channel_title  280113 non-null  object
 2   category_id    280113 non-null  int64
 3   publish_time   280113 non-null  object
 4   views          280113 non-null  int64
 5   likes          280113 non-null  int64
 6   dislikes       280113 non-null  int64
 7   comment_count  280113 non-null  int64
 8   region         280113 non-null  object
dtypes: int64(5), object(4)
memory usage: 19.2+ MB

In [27]:
files = [file for file in os.listdir('./category_data')]
all_category_data = pd.DataFrame()

for file in files:
   df = pd.read_csv("./category_data/" + file)
   all_category_data = pd.concat([all_category_data, df])

all_category_data.to_csv("all_category_data.csv",index = False)

In [28]:
all_category_data = pd.read_csv("all_category_data.csv")
all_category_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             217 non-null    int64
 1   snippet/title  217 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.5+ KB

In [29]:
all_category_data

     id     snippet/title
0     1  Film & Animation
1     2  Autos & Vehicles
2    10             Music
3    15    Pets & Animals
4    17            Sports
..   ..               ...
212  40    Sci-Fi/Fantasy
213  41          Thriller
214  42            Shorts
215  43             Shows
216  44          Trailers

[217 rows x 2 columns]

In [30]:
df1 = all_category_data.drop_duplicates()

In [31]:
df1

    id         snippet/title
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [38]:
all_videos_data.rename(columns = {'category_id' : 'id'}, inplace = True)

In [44]:
all_videos_data = pd.merge(df1,all_videos_data, on= 'id', how = 'inner')

In [45]:
all_videos_data.sample(100)

,id,snippet/title,title,channel_title,publish_time,views,likes,dislikes,comment_count,region
79944,20,Gaming,Neue Wege...,CraftingPat,2018-05-28T13:05:57.000Z,22342,1299,428,535,DE
232701,25,News & Politics,Lahore Qalandars vs Karachi Kings | Super Over...,Talk Shows Central,2018-03-11T20:40:43.000Z,1652648,11341,1557,1659,DE
64751,17,Sports,JO 2018 JT 13h Gabriella Papadakis Guillaume C...,mdnat69,2018-02-19T13:57:22.000Z,98193,102,45,29,FR
86056,22,People & Blogs,Playful Meghan Markle Pokes Out Her TONGUE In...,Entertainment News Magazine,2017-12-26T02:42:45.000Z,21193,0,0,63,CA
131747,23,Comedy,Village Youtubers Problems | comedy | my villa...,My Village Show,2018-02-06T13:13:54.000Z,385231,11128,711,1357,IN
...,...,...,...,...,...,...,...,...,...,...
198180,24,Entertainment,Bhabi Ji Ghar Par Hain - भाबीजी घर पर हैं - Ep...,And TV,2018-04-05T21:05:31.000Z,116609,754,69,44,IN
188300,24,Entertainment,SIT | The Better Half | BIWI KE DIET PLANS | E...,Shitty Ideas Trending,2017-12-01T06:30:01.000Z,313564,6287,307,435,IN
278871,43,Shows,"Priyamanaval Episode 1034, 06/06/18",VikatanTV,2018-06-06T17:00:03.000Z,664658,3701,1411,694,FR
58160,17,Sports,ARS vs EVE 5-1 All Goals & Highlights 03/02/20...,Wrsh98,2018-02-03T19:46:45.000Z,855882,5081,268,537,CA
170337,24,Entertainment,TEASER,Twist Project,2018-01-05T16:00:01.000Z,2619,283,3,10,FR

In [46]:
all_videos_data

,id,snippet/title,title,channel_title,publish_time,views,likes,dislikes,comment_count,region
0,1,Film & Animation,猎场 | Game Of Hunting 12【TV版】（胡歌、張嘉譯、祖峰等主演）,大劇獨播,2017-11-12T16:00:01.000Z,158815,218,30,186,CA
1,1,Film & Animation,Rooster Teeth Animated Adventures - Drunk Baby...,Rooster Teeth,2017-11-13T14:00:03.000Z,308568,19541,70,495,CA
2,1,Film & Animation,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,2017-11-12T12:20:39.000Z,1096327,33966,798,882,CA
3,1,Film & Animation,"Gerrymandering, Conservative Comedians, Bobby ...",Real Time with Bill Maher,2017-11-11T05:30:08.000Z,458964,4903,392,1289,CA
4,1,Film & Animation,Everything Wrong With Baby Driver In 14 Minute...,CinemaSins,2017-11-09T17:14:11.000Z,2736733,58967,3492,7915,CA
...,...,...,...,...,...,...,...,...,...,...
279160,43,Shows,Game of Zones - S5:E5: The Isle of Van Gundy,Bleacher Report,2018-05-10T21:01:22.000Z,1345086,22542,615,1649,US
279161,43,Shows,Game of Zones - S5:E5: The Isle of Van Gundy,Bleacher Report,2018-05-10T21:01:22.000Z,1351321,22587,616,1649,US
279162,44,Trailers,Fack Ju Göhte 3 - Trailer,Fack Ju Göhte 3 - Trailer,2018-03-08T22:42:50.000Z,8804,0,0,0,DE
279163,44,Trailers,La Malédiction Winchester (VF) - Bande Annonce,La Malédiction Winchester (VF) - Bande Annonce,2018-05-09T22:00:07.000Z,3136,54,0,0,FR
279164,44,Trailers,La Malédiction Winchester (VF) - Bande Annonce,La Malédiction Winchester (VF) - Bande Annonce,2018-05-09T22:00:07.000Z,9804,138,9,0,FR

In [47]:
all_videos_data.to_csv('final_data.csv')